@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat:wght@600&family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #007bff;
}

h1 {
  font-family: 'Grechen Fuemen', cursive;
  font-size: 70px;
}

img {
  width: 250px;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

#landing,
#gallery {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
}

.nav-link {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}