@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Josefin+Sans:ital@1&family=Noto+Sans+Mono:wght@500&display=swap');
*{
	font-family: 'Noto Sans Mono', monospace;
}
 h2{
	font-family: 'Josefin Sans', sans-serif;
}
h1 {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 70px;
}