@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Josefin+Sans:ital@1&family=Noto+Sans+Mono:wght@500&display=swap');
*{
	font-family: 'Noto Sans Mono', monospace;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	color: #0099ff;
}

h1 {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 70px;
}

img {
	width: 350px;
	border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

#landing, 
#gallery {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
}

.nav-link {
	text-transform: uppercase;
}

html {
	scroll-behavior: smooth;
}